.completed {
    color: green;
    font-weight: bold;
}

.pending {
    color: orange;
    font-weight: bold;
}

.rejected {
    color: red;
    font-weight: bold;
}

.disabled {
    color: gray;
    font-weight: bold;
}